# advanced.menu
MENU BEGIN ADVANCED
MENU TITLE Advanced Options
MENU LABEL ^Advanced Options

# ------====> Back To Main Menu <====------
{% include 'shared/menu-top.module' %}

# ------====> Line <====------
{% include 'shared/menu-line.module' %}

# ------====> Quit To Command <====------
{% include 'shared/shell.module' %}

# ------====> Boot Local Option <====------
{% include 'shared/bootlocal.module' %}

# ------====> Boot Menu <====------
{% include 'shared/bootlocal-menu.module' %}

# ------====> Reboot <====------
{% include 'shared/reboot.module' %}

# ------====> Power Off <====------
{% include 'shared/poweroff.module' %}

MENU END
