# -----===> {{ Plugin.Name }} <====-----
LABEL {{ Plugin.Name }}
MENU LABEL {{ Plugin.Name }}
KERNEL er/plugins/{{ Plugin.Name }}/data/
Name: {{ Plugin.Name }}
Category: {{ Plugin.Category }}
Append: {{ Plugin.Append }}
VersionName: {{ Plugin.VersionName }}
VersionCode: {{ Plugin.VersionCode }}
Compatibility: {{ Plugin.Compatibility }}
Kernel: {{ Plugin.Kernel }}
Initrd: {{ Plugin.Initrd }}
Architecture: {{ Plugin.Architecture }}
ShortInfo: {{ Plugin.ShortInfo }}
PluginWebsite: {{ Plugin.PluginWebsite }}
PluginManual: {{ Plugin.PluginManual }}
ReleaseDate: {{ Plugin.ReleaseDate }}
UpdateDate: {{ Plugin.UpdateDate }}
AuthorName: {{ Plugin.AuthorName }}
AuthorEMail: {{ Plugin.AuthorEMail }}
AuthorWebsite: {{ Plugin.AuthorWebsite }}
