{% extends "mainmenu/_base.tmpl" %}

{% block menu %}
    {% for Plugin in plugins %}
	{% if Plugin.compat == 1 %}
	    MENU INCLUDE {{Plugin.menu}}
	{% elif Plugin.compat == 2 %}
	    {% if not Plugin.Deactivated %}
		{% include 'mainmenu/item.tmpl' %}
    	    {% endif %}
    	{% endif %}
    {% endfor %}
{% endblock %}